body {
    background-color: #f4f1eb;
    color: #2c2c2c;
    font-family: Arial, sans-serif;
}
.experience-section {
    margin: 50px auto;
}
.personalskill-section {
    margin: 50px auto;
}
.introduce-bg{
    background-color: white;
}
.left-column {
    max-width: 300px;
}
.role-header {
    display: flex;
    align-items: baseline;
}
.role-year {
    font-weight: 400;
    color: gray;
    margin-right: 15px;
    white-space: nowrap;
}
.role-title {
    font-weight: bold;
    font-size: 1.25rem;
    margin: 0;
}
.role-description {
    padding-left: 50px; /* Adjust this value as needed to align with title */
}
.divider {
    border-bottom: 1px solid #ccc;
    margin: 2rem 0;
}
.skill-bg{
    background-color: #5b5b5b;
    color: white;
}
.skill-title{
    background-color:#f4f1eb;
}
.skill-description {
    padding-left: 50px; /* Adjust this value as needed to align with title */
}
.footer{
    background-color: #5b5b5b;
    color: white;
}
